# rules
--enable isEmpty

# format options
--decimalgrouping none
--header "Copyright © {year} ChouTi. All rights reserved."
--hexgrouping none
--ifdef no-indent
--importgrouping testable-bottom
--indent 2
--octalgrouping none
--ranges nospace
--self init-only

# file options
--exclude Package.swift, Submodules
