# rules
--enable isEmpty

# format options
--decimalgrouping none
--header "Copyright © {year} ChouTi. All rights reserved."
--hexgrouping none
--ifdef no-indent
--importgrouping testable-bottom
--indent 2
--octalgrouping none
--self init-only
--semicolons never
--ifdef no-indent

# file options
--exclude Submodules, Carthage
